gguf
numpy==1.22.0

sentencepiece

gradio
flask
python-dotenv

# Audio text to speech
TTS

# Audio speech to text
faster-whisper

# Image generation
diffusers
accelerate

# Quantization of Flux model
optimum-quanto

# Telegram bot support
python-telegram-bot==13.12