#gguf
#numpy==1.22.0



gradio
flask
python-dotenv
waitress

# Audio text to speech
TTS

# Audio speech to text
faster-whisper

# Image generation
diffusers
sentencepiece==0.2.0
# accelerate

# Quantization of Flux model
optimum-quanto==0.2.4

# Telegram bot support
python-telegram-bot==13.12